In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import lightgbm as lgbm
from sklearn.metrics import confusion_matrix, accuracy_score

In [2]:
#경로 설정을 꼭 신경써주세요!!
train=pd.read_csv('./data/train.csv', index_col=0) #인덱스 col=0도 check!
test=pd.read_csv('./data/test_x.csv', index_col=0)
submission=pd.read_csv('./data/sample_submission.csv', index_col=0)

In [3]:
train

,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,QeE,...,wr_04,wr_05,wr_06,wr_07,wr_08,wr_09,wr_10,wr_11,wr_12,wr_13
index,,,,,,,,,,,,,,,,,,,,,
0,3.0,363,4.0,1370,5.0,997,1.0,1024,2.0,1577,...,0,1,0,1,1,0,1,0,1,1
1,5.0,647,5.0,1313,3.0,3387,5.0,2969,1.0,4320,...,1,1,0,1,1,0,1,0,1,1
2,4.0,1623,1.0,1480,1.0,1021,4.0,3374,5.0,1333,...,1,1,0,1,1,1,1,0,1,1
3,3.0,504,3.0,2311,4.0,992,3.0,3245,1.0,357,...,0,0,0,0,1,0,1,0,1,1
4,1.0,927,1.0,707,5.0,556,2.0,1062,1.0,1014,...,1,1,1,1,1,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45527,2.0,1050,5.0,619,4.0,328,1.0,285,1.0,602,...,1,1,0,1,1,1,1,0,1,1
45528,2.0,581,3.0,1353,4.0,1164,1.0,798,3.0,1680,...,1,1,0,1,1,1,1,0,1,1
45529,4.0,593,1.0,857,1.0,1047,4.0,1515,5.0,1690,...,1,1,0,1,1,0,1,0,1,1
45530,1.0,747,3.0,1331,4.0,892,2.0,1281,1.0,1328,...,1,1,0,1,1,1,1,0,1,1
45531,3.0,496,5.0,1827,5.0,754,3.0,1117,1.0,432,...,1,1,0,1,1,0,1,0,1,1

In [4]:
train_x = train.drop('voted', axis = 1)
train_y = train['voted']

In [5]:
#age_group, gender, race, religion
train_x['age_group']=1
train_x['gender']=1
train_x['race']=1
train_x['religion']=1

test['age_group']=1
test['gender']=1
test['race']=1
test['religion']=1

In [12]:
train_x.shape

(45532, 76)

In [8]:
import tensorflow as tf

In [9]:
from tensorflow import keras

In [10]:
from tensorflow.keras.layers import Input, Dense

In [11]:
from tensorflow.keras.models import Model

In [17]:
from tensorflow.keras import backend as K

In [ ]:
K.rese

In [21]:
inp = Input(76)

In [37]:
x = Dense(128, activation='relu')(inp)
x = Dense(1, activation='sigmoid')(x)

In [38]:
model = Model(inputs=inp, outputs=x)

In [39]:
model.compile(optimizer='adam', loss='mse')

In [40]:
train_x.values.shape

(45532, 76)

In [41]:
import numpy as np

In [42]:
np.expand_dims(train_y.values, axis=-1)

array([[2],
       [2],
       [1],
       ...,
       [1],
       [1],
       [1]], dtype=int64)

In [43]:
model.fit(train_x.values, np.expand_dims(train_y.values, axis=-1))

Train on 45532 samples
45532/45532 [==============================] - 5s 102us/sample - loss: 0.5472

In [25]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_3 (InputLayer)         [(None, 76)]              0
_________________________________________________________________
dense_3 (Dense)              (None, 128)               9856
=================================================================
Total params: 9,856
Trainable params: 9,856
Non-trainable params: 0
_________________________________________________________________

In [11]:
submission['voted']=pred_y

In [13]:
submission.to_csv('./sample_submission.csv')

# Day4 Assignment

* Tensorflow, Keras, Pytorch를 이용해서 1레이어짜리 Logistic 회귀를 모델링 해서 결과 Submit