In [1]:
import pandas as pd, numpy as np, pickle as pkl
import os

In [4]:
df = pd.read_csv('./input/train.csv')
df_test = pd.read_csv('./input/test.csv')
df_subm = pd.read_csv('./input/submission.csv')

In [107]:
df[92175:222000]

,store_id,date,time,card_id,amount,installments,days_of_week,holyday
92175,10,2018-06-11,18:39:26,1cb3f739fa,100,NaN,0,0
92176,10,2018-06-20,17:22:52,60679c1548,100,NaN,2,0
92177,10,2018-07-13,15:49:59,a61c768891,100,NaN,4,0
92178,10,2018-07-18,17:44:54,8a1456f9d3,210,NaN,2,0
92179,12,2016-08-01,11:48:39,d50a252b68,660,NaN,0,0
92180,12,2016-08-01,15:16:14,63aabcdfe1,330,NaN,0,0
92181,12,2016-08-01,15:16:51,63aabcdfe1,-330,NaN,0,0
92182,12,2016-08-01,15:17:07,63aabcdfe1,495,NaN,0,0
92183,12,2016-08-02,01:24:22,4b8bf213d9,715,NaN,1,0
92184,12,2016-08-02,13:23:31,82697d94ed,495,NaN,1,0
92185,12,2016-08-02,21:59:27,775cd254f6,660,NaN,1,0
92186,12,2016-08-03,15:13:21,d2254c3d8c,1320,NaN,2,0
92187,12,2016-08-04,02:35:56,651f33a9e3,880,NaN,3,0
92188,12,2016-08-04,03:46:13,651f33a9e3,-880,NaN,3,0
92189,12,2016-08-04,03:46:42,651f33a9e3,550,NaN,3,0
92190,12,2016-08-04,11:30:39,55225fe168,275,NaN,3,0
92191,12,2016-08-06,11:44:21,29d06cf544,1100,NaN,5,0
92192,12,2016-08-07,01:33:45,26abd7666d,605,NaN,6,0
92193,12,2016-08-07,19:06:29,5bb899f798,660,NaN,6,0
92194,12,2016-08-07,21:00:42,f725813434,495,NaN,6,0
92195,12,2016-08-08,14:20:18,cda1d9af0b,660,NaN,0,0
92196,12,2016-08-08,20:52:43,fdc5976bef,495,NaN,0,0
92197,12,2016-08-09,15:49:36,00ec08d621,495,NaN,1,0
92198,12,2016-08-09,18:54:50,0e109bdf4f,660,NaN,1,0
92199,12,2016-08-10,00:41:25,69499bac37,605,3.0,2,0
92200,12,2016-08-10,10:33:39,d03577712d,495,NaN,2,0
92201,12,2016-08-11,16:35:11,62118622ec,440,NaN,3,0
92202,12,2016-08-12,13:47:39,554fb480d8,750,NaN,4,0
92203,12,2016-08-12,16:46:17,1333e8fe00,990,NaN,4,0
92204,12,2016-08-12,17:21:31,2282307a6a,825,NaN,4,0
...,...,...,...,...,...,...,...,...
221970,65,2017-11-28,17:45:37,3fe3f3e1de,115,NaN,1,0
221971,65,2017-11-28,18:01:57,f3f3368f7d,67,NaN,1,0
221972,65,2017-11-28,18:11:09,64b4c03325,125,NaN,1,0
221973,65,2017-11-28,18:16:49,b25b3d4177,250,NaN,1,0
221974,65,2017-11-28,18:20:20,ab22b2dfc6,30,NaN,1,0
221975,65,2017-11-28,19:35:52,687a5fc0fe,30,NaN,1,0
221976,65,2017-11-28,19:58:51,665896bdfe,30,NaN,1,0
221977,65,2017-11-29,11:49:11,d8690fc90e,70,NaN,2,0
221978,65,2017-11-29,12:23:43,2851a2fd8e,182,NaN,2,0
221979,65,2017-11-29,12:25:08,95b90657d8,30,NaN,2,0
221980,65,2017-11-29,12:41:51,b1e978d8df,35,NaN,2,0
221981,65,2017-11-29,12:44:50,a7e4da39d9,90,NaN,2,0
221982,65,2017-11-29,12:53:04,5fba358e50,35,NaN,2,0
221983,65,2017-11-29,12:59:53,857408428b,40,NaN,2,0
221984,65,2017-11-29,13:18:31,4af25e3c05,35,NaN,2,0
221985,65,2017-11-29,13:25:09,c4b5891f68,35,NaN,2,0
221986,65,2017-11-29,13:33:58,f090e115e8,70,NaN,2,0
221987,65,2017-11-29,14:15:56,dcd69ab189,35,NaN,2,0
221988,65,2017-11-29,17:15:26,172eb1efb7,35,NaN,2,0
221989,65,2017-11-29,19:14:18,dbad9caa2c,40,NaN,2,0
221990,65,2017-11-30,11:53:54,ea0a9d3949,60,NaN,3,0
221991,65,2017-11-30,12:04:36,c03298ad31,115,NaN,3,0
221992,65,2017-11-30,12:05:02,2574d00d6b,135,NaN,3,0
221993,65,2017-11-30,12:06:11,02a4e64534,50,NaN,3,0
221994,65,2017-11-30,12:07:54,00e43d1bb2,30,NaN,3,0
221995,65,2017-11-30,12:21:34,ba4907ff5c,30,NaN,3,0
221996,65,2017-11-30,12:33:44,488838eb0d,30,NaN,3,0
221997,65,2017-11-30,12:40:35,5525642040,35,NaN,3,0
221998,65,2017-11-30,12:53:24,7f6884e90d,235,NaN,3,0
221999,65,2017-11-30,13:40:31,2e2a6d4879,35,NaN,3,0

In [89]:
df[df['store_id']==11]

Empty DataFrame
Columns: [store_id, date, time, card_id, amount, installments, days_of_week, holyday]
Index: []

In [88]:
start_date = '2016-08-01'
split_date = '2018-04-01'
end_date = '2018-07-09'

for i in range(1800):
    store_log = df[df['store_id']==i]
    store_xlog = store_log[store_log['date'] < split_date]
    print(store_xlog['date'].iloc[0])
    store_ylog = store_log[(store_log['date'] >= split_date) & (store_log['date'] <= end_date)]
    y_i = store_ylog['amount'].sum()
    
#    break

2016-12-14
2016-12-21
2016-08-01
2016-08-03
2017-06-07
2016-08-02
2016-08-01
2016-08-05
2016-08-01
2017-08-04
2017-09-12

IndexError: single positional indexer is out-of-bounds

In [75]:
xlog_gb = store_xlog.groupby('date')

In [82]:
import datetime
today = datetime.date.()
today = today + datetime.timedelta(+10)

In [83]:
today

datetime.date(2018, 8, 26)

In [ ]:
datetime.datetime.

In [80]:
xlog_gb['amount'].sum()

date
2016-12-14        0
2016-12-19     3055
2016-12-20     5918
2016-12-21    16747
2016-12-22    12014
2016-12-23    12359
2016-12-24    15287
2016-12-25    18188
2016-12-26     8860
2016-12-27     9085
2016-12-28     7629
2016-12-29     8153
2016-12-30    10253
2016-12-31     9788
2017-01-01    11696
2017-01-02     8489
2017-01-03     8280
2017-01-04     7324
2017-01-05     8197
2017-01-06     8523
2017-01-07    11366
2017-01-08    10840
2017-01-09     7427
2017-01-10     7963
2017-01-11    12429
2017-01-12     8642
2017-01-13     8914
2017-01-14    15127
2017-01-15    11530
2017-01-16     9977
              ...
2018-03-02    10238
2018-03-03     9844
2018-03-04     9625
2018-03-05     6323
2018-03-06     8434
2018-03-07     7833
2018-03-08     8717
2018-03-09     7604
2018-03-10     9514
2018-03-11     8002
2018-03-12     9180
2018-03-13     6204
2018-03-14     8759
2018-03-15     6755
2018-03-16     7643
2018-03-17    10270
2018-03-18     9647
2018-03-19     7279
2018-03-20     7844
2018-03-21     8613
2018-03-22     7928
2018-03-23     8167
2018-03-24    10117
2018-03-25     9753
2018-03-26     8156
2018-03-27     8353
2018-03-28     7708
2018-03-29     6320
2018-03-30     9844
2018-03-31     9467
Name: amount, Length: 469, dtype: int64

In [60]:
store_xlog = store_log[store_log['date'] < split_date]
store_ylog = store_log[store_log['date'] >= split_date]

In [68]:
store_ylog['amount'].sum()

868937